langchain==0.2.16
langchain-groq==0.1.9
langchain-community==0.2.16

pdfplumber==0.11.4
pypdf==4.3.1
Pillow==10.4.0

groq==0.9.0

chromadb==0.5.23
sentence-transformers==2.7.0

fastapi==0.111.0
uvicorn==0.30.6
python-multipart==0.0.9

numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
pydantic==2.7.4
scikit-learn==1.5.2
tqdm==4.66.5
loguru==0.7.2

requests
mysql-connector-python
typing-extensions==4.11.0
httpx==0.27.2
duckduckgo-search